<h2>Hall of glory</h2>

<table>

    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>WINS</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Thomas</td>
        <td>40</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Carol</td>
        <td>1</td>
    </tr>

    <tr>
        <td>3</td>
        <td>React</td>
        <td>66</td>
    </tr>

</table>
