
<div class="container-fluid row justify-content-md-center " style="background: url('sign-up.jpg')
        no-repeat;background-size: cover; height:85vh">










    <div class="container ">
        <h3 class=" text-light bg-dark text-center p-3 mt-5"   >Sign up your warrior</h3>


        <h2 class=" row justify-content-md-center mb-3"></h2>

    <form class="row justify-content-md-center" action="/warrior" method="post">

        <label class="form-label row w-25">
            Name: <br>
            <input class="form-control" type="text" name="name" minlength="3" maxlength="50" placeholder="your name">
            <br>
        </label>
        <label class="form-label row w-25">
            Strength: <br>
            <input class="form-control" type="number" name="strength" value="1" min="1" max="10"><br>
        </label>
        <label class="form-label row w-25">
            Defence: <br>
            <input class="form-control" type="number" name="defence" value="1" min="1" max="10"><br>
        </label>
        <label class="form-label row w-25">
            Stamina: <br>
            <input class="form-control" type="number" name="stamina" value="1" min="1" max="10"><br>
        </label>
        <label class="form-label row w-25">
            Agility: <br>
            <input class="form-control" type="number" name="agility" value="1" min="1" max="10"><br>
        </label>

        <button type="submit" class="btn btn-warning ">Sign up!</button>

    </form>

</div>


</div>
