
<div class="container d-flex  justify-content-md-center " style="background: url('home.jpg')
        no-repeat;background-size: cover; height:85vh">





<ol>
    <h2 class="m-4">Fight events</h2>

    {{#each log}}

        <li class="p-2">{{this}}</li>

    {{/each}}



</ol>
</div>
