


<div class="container-fluid row justify-content-md-center align-items-md-center" style="background: url('home.jpg')
        no-repeat;background-size: cover; height:85vh">



    <h1 class=" text-light bg-dark text-center p-3 w-50" style="position:fixed; top:20vh;"  >Welcome to
         <strong class="text-danger">Samurai Warriors</strong>, where the most brave warriors are fighting for the
        glory!!</h1>




</div>
